.hero-video-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000000;
}

.hero-video-container {
  position: relative;
  width: 100%;
   max-width: 1440px;
  height: 500px;
    overflow: hidden;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}