.dropdownItem {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #333;
  text-decoration: none;
  padding: 8px 0;
  transition: all 0.3s ease;
}

.dropdownItem:hover {
  color: #7d3cff;
  transform: translateX(5px);
}

.dropdownItemImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #eee;
  border-radius: 4px;
}

.dropdownItemText {
  font-size: 14px;
}