.dropdownItem {
  text-decoration: none;
  display: block;
}

.dropdownItemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px;
  background: #f3f7f9;
  border: 1px solid #eef0f2;
  border-radius: 20px;
  transition: all 0.3s ease;
  width: 180px; /* Фиксированная ширина карточки */
  height: 160px;
  flex-shrink: 0; /* ЗАПРЕЩАЕТ КАРТОЧКЕ СЖИМАТЬСЯ */
  text-align: center;
  border: none;
}

.dropdownItemCard:hover {
  background: #e9eff2;
  transform: translateY(-2px);
}

.dropdownItemImageWrapper {
  width: 120px;
  height: 90px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.dropdownItemImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Картинка вписывается в 120x90 без искажений */
}

.dropdownItemInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.dropdownItemTitle {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  margin: 0;
  line-height: 1.1;
}

.dropdownItemDescription {
  font-size: 14px;
  font-weight: 400;
  color: #444;
  margin: 0;
  line-height: 1.2;
  margin-top: 2px;
}
